* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pic-compose {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
  .item {
    width: 47%;
  }
}
